<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sntb2.Properties.Settings.sntbConnectionString" connectionString="Data Source=192.168.20.4;Initial Catalog=new_test;User ID=admin;Password=123qwerty098"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>